<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null 값이 발생하는 경우 빈칸이 아닌 null로 처리 -->
		<setting name = "jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="kr.or.eum.community.model.vo.Community" alias="comm"/>
		<typeAlias type="kr.or.eum.community.model.vo.CommunityCo" alias="commCo"/>
		
		<typeAlias type="kr.or.eum.community.model.vo.Haja" alias="haja"/>
		<typeAlias type="kr.or.eum.community.model.vo.Malja" alias="Malja"/>
		<typeAlias type="kr.or.eum.member.model.vo.Member" alias="member"/>
		<typeAlias type="kr.or.eum.product.model.vo.Payment" alias="pay"/>
		<typeAlias type="kr.or.eum.report.model.vo.Report" alias="rpt"/>
		<typeAlias type="kr.or.eum.product.model.vo.Product" alias="pro"/>
		<typeAlias type="kr.or.eum.product.model.vo.Ideamarket" alias="idea"/>
		<typeAlias type="kr.or.eum.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.eum.manager.model.vo.Question" alias="q"/>
		<typeAlias type="kr.or.eum.manager.model.vo.FaQ" alias="faq"/>
		<typeAlias type="kr.or.eum.manager.model.vo.Notice" alias="ntc"/>
		<typeAlias type="kr.or.eum.manager.model.vo.Chart" alias="chart"/>
		<typeAlias type="kr.or.eum.member.model.vo.Expert" alias="expert"/> <!-- 윤지 -->
		<typeAlias type="kr.or.eum.product.model.vo.Review" alias="review"/> <!-- 윤지 -->
		<typeAlias type="kr.or.eum.product.model.vo.ProductAndPayment" alias="productAndPay"/>
		<typeAlias type="kr.or.eum.product.model.vo.ProductAndPayAndwish" alias="productAndPayAndwish"/>
		<typeAlias type="kr.or.eum.member.model.vo.ExpertAndMember" alias="expertAndM"/> <!-- 윤지 -->
		<typeAlias type="kr.or.eum.product.model.vo.ProductAndWishList" alias="productWish"/> <!-- 윤지 -->
		<typeAlias type="kr.or.eum.product.model.vo.ProReviewMember" alias="ProReviewMember"/> <!-- 윤지 -->
		<typeAlias type="kr.or.eum.wishlist.model.vo.Wishlist" alias="wish"/> <!-- 윤지 -->
		<typeAlias type="kr.or.eum.product.model.vo.Counsel" alias="counsel"/> <!-- 윤지 -->
		<typeAlias type="kr.or.eum.product.model.vo.Chat" alias="chat"/> <!-- 윤지 -->
	</typeAliases>
	<typeHandlers>
        <typeHandler handler="kr.or.eum.LongHandler" javaType="String" jdbcType="LONGVARCHAR"/>
    </typeHandlers>

</configuration>
