@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
}

.col-lg-8, .col-lg-4{
	margin: 0 !important; 
	padding:0 !important;
	display: inline-block;	
}
.col-lg-8{
	float: left;
}

.messageArea{
	overflow-y: auto;
	height: 624px;
	display: flex;
	flex-direction: column;
	background-color : #eaeaea;
	padding: 15px;
}
.buy-detail{
	overflow-y: auto;
	border : 1px solid #ececec;
	height: 725px;
	display: flex;
	flex-direction: column;
	background-color : #e9ebf8;
	align-items: center;
	justify-content: center;
}

#sendMsg{
	width: 100%;
	height: 47px;
	padding: 10px 10px;
	font-size: 14px;
	border-radius: 15px;
	border:none;
}

#sendMsg:focus{
	border: 1px solid #3865f2;
	outline: none;
}
.sendBox{
	display: flex;
	border:  27px solid #eaeaea;
	background-color: #eaeaea;
	padding-right: 5px;
}

button {
	border: 0;
	outline: 0;
	background: transparent;
	color: #3865f2;
}
.send-icon{
	font-size: 36px !important;
	padding-top:5px;
	padding-left:20px;
}

.left{
    position: relative;
    max-width: 300px;
    align-self: flex-start;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left:16px;
    padding:15px;
    margin-bottom: 5px;
    word-wrap: break-word;
}
.left:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 12px;
}

.chat-wrap {
	max-width:300px;      
    align-self: flex-end;
    position: relative;    
    display: flex;
}
.right{
    background-color: #3865f2;
    color:#fff;
    max-width:300px;      
    align-self: flex-end;
    position: relative;      
    padding: 15px;      
    margin-right:16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
}
.right:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #3865f2;
    color:#fff;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 12px;
    margin-bottom: 5px;
}
input::placeholder{
	color: #979797;
}
.testBtn{
	width: 50px;
	height: 50px;
}
.widget-wrap{
	border-radius: 10px;
	box-shadow: 0px 1px 15px 1px #ececec;
	width: 90%;
	background-color: #fff;
	margin-top:20px;
	overflow: hidden;
}
.product-title{
	padding: 20px;
	padding-bottom:10px;
	font-weight: bold;
	font-size: 18px;
}
.icon-schedule{
	font-size: 22px !important;
	padding-left: 20px;
	margin-right: 5px;
}
hr{
	margin: 10px 20px !important;
	color: #ececec !important;
}
.product-detail{
	display: flex;
}
.product-option{
	line-height: 1.6;
	font-size: 14px;
}
.op2{
	font-weight: bold;
}
.check-title-wrap{
	display: flex;
	position: relative;
}
.icons-check{
	font-size: 20px !important;
	margin-left: 20px;
}
.check-list-title{
	font-size: 14px;
	margin-left: 5px;
	font-weight: bold;
}
.check-list-content{
	font-size: 13px;
	margin: 0 20px;
}
.check-list-content >ul{
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}
.check-list-content>ul> li{
	margin: 10px;
	padding-left: 8px;
}
.check-box-allwrap{
	display: flex;
	justify-content: center;
	margin: 30px 0px;
}
.check-box-wrap{
	margin-right: 5px;
}
.checkbox{
	zoom:1.3;
}
.submit-btn{
	width: 85%;
	height: 50px;
}
.submit-wrap{
	display: flex;
	justify-content: center;
    margin-bottom: 20px;
}
.confirm2{
	color: #3865f2;
	font-size: 22px !important;
	vertical-align: top;
 	margin-top: 3px;
    margin-left: -6px;
}
.picture{
	width: 130px;
	height: 130px;
	border-radius: 70%;
    overflow: hidden;
	margin: 20px auto;
}
.testimg {
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert-profile{
	display: flex;
    justify-content: center;
    margin-top: -2px;
}
h3,h5{
	margin: 0px;
}
.info-wrap{
	width: 100%;
	text-align: center;
	padding-top: 11px;
}
.expert-info{
	text-align:center;
	margin-top: 4px;
	display: inline;
	margin-right: 7px;
}
.info2{
	margin-top:10px;
	color: #aeaeae;
}
.info1{
	margin-top: -10px;
	color: #333333
}
.checkbox, .fileBtn, .send-icon, .icon-out {
	cursor: pointer;
}

.icon-out{
	position: absolute;
	right: 19px;
	font-size: 20px !important;
}

.fileBtn{
	width: 45px;
    margin-right: 10px;
}
.title-wrap{
	margin: 0px;
}
.date{
	text-align: center;
}
.hr-sect {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 19px 0px;
    font-size:13px;
}
.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}
.check-in{
	margin: 0 auto;
    background-color: #3865f2;
    color: #fff;
    padding: 10px;
    font-size:12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.chat-content-wrap{
	display: flex;
	position: relative;
}
.chat-time{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 14px;
    color: #a7a7a7;
}
.content-sub-wrap{
	display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.check-right{
	text-align: right;
}
.sub-right{
	justify-content: flex-end;
}
.read-check{
	font-size:14px;
	color: #a7a7a7;
}
#timeZone{
	background-color: #1abc9c;
    width: 58px;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    color: #fff;
}
#msg{
	font-size: 12px;
    margin-top: 3px;
    margin-left: 3px;
}
#min, #sec{
	font-size: 14px;
	vertical-align: 1.5px;
}















*,
::after,
::before {
    box-sizing: border-box
}



.col-4,
.col-8,
.col-lg-4,
.col-lg-8{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 37.444444%
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 62.555556%
}

@media (min-width:992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.444444%
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.555556%
    }
}

