@charset "UTF-8";

.col-lg-8, .col-lg-4{
	margin: 0 !important; 
	padding:0 !important;
	display: inline-block;	
}
.col-lg-8{
	float: left;
}

.messageArea{
		overflow-y: auto;
		height: 650px;
		display: flex;
		flex-direction: column;
		background-color : #eaeaea;
		padding: 15px;
}
.buy-detail{
		overflow-y: auto;
		border : 1px solid #ececec;
		height: 650px;
		display: flex;
		flex-direction: column;
		background-color : #e9ebf8;
}

#sendMsg{
	width: 92%;
	height: 40px;
	padding: 10px 10px;
	font-size: 14px;
	border-radius: 15px;
	border:none;
}
#sendBtn{
	width: 5%;
	height: 40px;
}

#sendMsg:focus{
	border: 1px solid #3865f2;
	outline: none;
}
.sendBox{
	position: relative;
	bottom: 70px;
	left: 10px;
	right: 10px;
}

button {
	border: 0;
	outline: 0;
	background: transparent;
	color: #3865f2;
}
.send-icon{
	font-size: 36px !important;
}

.left{
      position: relative;
      max-width: 300px;
      align-self: flex-start;
      background: #FFFFFF;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-left:16px;
      padding:15px;
  }
.left:after{
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 15px 15px 15px 0;
      border-color: transparent #FFFFFF;
      display: block;
      width: 0;
      z-index: 1;
      left: -15px;
      top: 12px;
}
.right{
      background-color: #3865f2;
      color:#fff;
      max-width:300px;      
      align-self: flex-end;
      position: relative;      
      padding: 15px;      
      margin-right:16px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-bottom: 5px;
}
.right:after{
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 15px 0 15px 15px;
      border-color: transparent #3865f2;
      color:#fff;
      display: block;
      width: 0;
      z-index: 1;
      right: -15px;
      top: 12px;
      margin-bottom: 5px;
}




*,
::after,
::before {
    box-sizing: border-box
}


@-ms-viewport {
    width: device-width
}


@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-4,
.col-8,
.col-lg-4,
.col-lg-8{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 29.444444%
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 70.555556%
}

@media (min-width:992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 29.444444%
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 70.555556%
    }
}

