@charset "UTF-8";

.col-lg-8, .col-lg-4{
	margin: 0 !important; 
	padding:0 !important;
	display: inline-block;	
}
.col-lg-8{
	float: left;
}

.messageArea{
		overflow-y: auto;
		height: 650px;
		display: flex;
		flex-direction: column;
		background-color : #f0f0f0;; 
}
.buy-detail{
		overflow-y: auto;
		border : 1px solid #ececec;
		height: 650px;
		display: flex;
		flex-direction: column;
		background-color : #f6f7fc;
}

*,
::after,
::before {
    box-sizing: border-box
}


@-ms-viewport {
    width: device-width
}


@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-4,
.col-8,
.col-lg-4,
.col-lg-8{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}


@media (min-width:992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 29.444444%
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 70.555556%
    }
}

